# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Debug/vc142.pdb
.vs/3P98-2021-Template/v16/.suo
.vs/3P98-2021-Template/v16/.suo
.vs/3P98-2021-Template/v16/Browse.VC.db
Debug/vc142.pdb
*.idb
*.pdb
*.db-shm
*.db-wal
*.db
*.ipch
*.ipch
.vs/
/build/
*.suo
*.user
_ReSharper.*/
*.sdf
bin/
obj/
Debug/
Release/
*.opensdf
*.tlog
*.log
TestResult.xml
*.VisualState.xml